[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"
rustflags = [ "--cfg",  "espidf_time64"]

[unstable]
build-std = ["std", "panic_abort"]

[alias]
rpami = "run -p pami"
spami = "run -p pami --target x86_64-unknown-linux-gnu"
rgalipeur = "run -p galipeur"
sgalipeur = "run -p galipeur --target x86_64-unknown-linux-gnu"

[env]
ESP_IDF_PATH_ISSUES = "warn"
